microedition.platform: PS Vita
microedition.encoding: ISO8859_1
microedition.locale: en-US
microedition.profiles: MIDP-2.1
microedition.configuration: CLDC-1.1
microedition.commports: 0
microedition.jtwi.version: 1.0
microedition.global.version: 2.1
microedition.display.width: 320
microedition.display.height: 240
microedition.display.color: 16777216
microedition.platform: PS Vita
device.manufacturer: Sony
device.model: PS Vita
device.version: 1.0
phone.imei: 000000000000000
com.sun.midp.installer.package: com.sun.midp.installer
com.sun.midp.mainclass.name: com.sun.midp.main.Main
com.sun.midp.midlet.splashResource: /splash.png
com.sun.midp.midlet.splashImageTimeout: 1000
com.sun.midp.midlet.uncaughtException.handler: com.sun.midp.lcdui.DefaultExceptionHandler
com.sun.midp.ams.amsclass: com.sun.midp.ams.AMS
com.sun.midp.chameleon.chameleonclass: com.sun.midp.chameleon.Chameleon
com.sun.midp.chameleon.activation.foreground: com.sun.midp.chameleon.ActivationEventQueue
com.sun.midp.chameleon.activation.foreground: com.sun.midp.chameleon.screens.Activation
com.sun.midp.chameleon.screens.activation: com.sun.midp.chameleon.screens.Activation
com.sun.midp.chameleon.screens.alert: com.sun.midp.chameleon.screens.Alert
com.sun.midp.chameleon.screens.canvas: com.sun.midp.chameleon.screens.Canvas
com.sun.midp.chameleon.screens.choice: com.sun.midp.chameleon.screens.Choice
com.sun.midp.chameleon.screens.confirm: com.sun.midp.chameleon.screens.Confirm
com.sun.midp.chameleon.screens.error: com.sun.midp.chameleon.screens.Error
com.sun.midp.chameleon.screens.form: com.sun.midp.chameleon.screens.Form
com.sun.midp.chameleon.screens.fullScreenItem: com.sun.midp.chameleon.screens.FullScreenItem
com.sun.midp.chameleon.screens.item: com.sun.midp.chameleon.screens.Item
com.sun.midp.chameleon.screens.list: com.sun.midp.chameleon.screens.List
com.sun.midp.chameleon.screens.menu: com.sun.midp.chameleon.screens.Menu
com.sun.midp.chameleon.screens.splash: com.sun.midp.chameleon.screens.Splash
com.sun.midp.chameleon.screens.tab: com.sun.midp.chameleon.screens.Tab
com.sun.midp.chameleon.screens.text: com.sun.midp.chameleon.screens.Text
com.sun.midp.chameleon.screens.ticker: com.sun.midp.chameleon.screens.Ticker
com.sun.midp.chameleon.screens.wait: com.sun.midp.chameleon.screens.Wait
com.sun.midp.configurator.path: /app0/
com.sun.midp.io.j2me.socketServer: com.sun.midp.io.j2me.socket.SocketServer
com.sun.midp.io.j2me.smsServer: com.sun.midp.io.j2me.sms.SMSNotifier
com.sun.midp.io.j2me.cbsServer: com.sun.midp.io.j2me.cbs.CBSNotifier
com.sun.midp.io.j2me.mmsServer: com.sun.midp.io.j2me.mms.MMSNotifier
com.sun.midp.io.j2me.httpsServer: com.sun.midp.io.j2me.https.HttpsServer
com.sun.midp.io.j2me.httpServer: com.sun.midp.io.j2me.http.HttpServer
com.sun.midp.io.j2me.datagramServer: com.sun.midp.io.j2me.datagram.DatagramServer
com.sun.midp.io.j2me.commServer: com.sun.midp.io.j2me.comm.CommServer
com.sun.midp.io.j2me.pushRegistryServer: com.sun.midp.io.j2me.push.PushRegistryServer
com.sun.midp.io.j2me.fileServer: com.sun.midp.io.j2me.file.FileServer
com.sun.midp.io.j2me.bluetoothServer: com.sun.midp.io.j2me.bluetooth.BluetoothServer
destroyMIDletTimeout: 5000
suspendAppTimeout: 2000
suspendAlertTime: 900
system.i18n.lang: en
system.i18n.encoding: ISO8859_1
com.sun.midp.io.j2me.comm.buffersize: 256
com.sun.midp.lcdui.eventHandler: com.sun.midp.lcdui.DefaultEventHandler
com.sun.midp.lcdui.inputHandler: com.sun.midp.lcdui.DefaultInputMethodHandler
VmDebuggerPort: 2808
DisableStartupErrorAlert: 0
LaunchJustInstalledMidlet: -1
btl2cap: com.sun.midp.jsr82.ProtocolPushImpl
btspp: com.sun.midp.jsr82.ProtocolPushImpl
btgoep: com.sun.midp.jsr82.ProtocolPushImpl
socket: com.sun.midp.io.j2me.socket.ProtocolPushImpl
datagram: com.sun.midp.io.j2me.datagram.ProtocolPushImpl
sip: gov.nist.core.ProtocolPushImpl
sips: gov.nist.core.ProtocolPushImpl
sms: com.sun.midp.wma.ProtocolPushImpl
cbs: com.sun.midp.wma.ProtocolPushImpl
mms: com.sun.midp.io.j2me.mms.ProtocolPushImpl
ndef: com.sun.contactless.ProtocolPushImpl
AMS_MEMORY_RESERVED_MVM: 1024
AMS_MEMORY_LIMIT_MVM: -1
ocsp.responderURL: http://127.0.0.1:80
