microedition.profiles: MIDP-2.1
microedition.locale: en-US
microedition.platform: j2me
microedition.commports: COM1
microedition.jtwi.version: 1.0
microedition.msa.version: 1.1
javax.microedition.io.Connector.protocolpath: com.sun.midp.io
security.policyfile: _policy.txt
security.messagefile: _function_groups.txt
